<form method="post" action="/admin/login/">
  <div class="form-group">
    <input type="text" placeholder="Login" name="login">
  </div>
  <div class="form-group">
    <input type="password" placeholder="Password" name="password">
  </div>
  <input type="submit" value="Enter">
</form>
