<!DOCTYPE html>
<html>
  <head>
    <title><%= sails.config.globals.title %></title>
    <link rel="icon" href="favicon.ico">
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>
    <!--SCRIPTS-->
    <script src="/dependencies/js/sails.io.js"></script>
    <script src="/dependencies/js/jquery-3.2.1.min.js"></script>
    <script src="/dependencies/js/bootstrap.min.js"></script>
    <script src="/dependencies/js/vue.js"></script>
    <script src="/dependencies/js/vuer.js"></script>
    <script src="/dependencies/js/vuex.js"></script>
    <script src="/js/saib.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
