.thread{
  border: 2px #000000 solid;
  background: #acacac;
  padding: 20px;
}
.thread > div.post{
  border: 2px #000000 solid;
  margin-top: 20px;
  margin-right: 40px;
  background: #656565;
}
.thread > div.post:first-child{
  margin-top: 0;
}
.thumb {
  width: 50%;
  height: 50%;
}

.pointer {
  cursor:pointer;
}
