<script type="text/x-template" id="board-list-template">
  <ul id="boards-list">
    <li v-for="board in boards">
      <router-link :to="'/'+board.name+'/1/'">/{{ board.name }}/-{{board.full_name}}({{board.threads.length}})</router-link>
    </li></ul>
</script>

<script type="text/x-template" id="thread-list-template">
  <div id="thread-list">
    <reply-form v-if="threads.board" :threadId="0" :board="threads.board"></reply-form>
    <div :id="thread.id" class="thread" v-for="thread in threads.threads">
      <router-link :to="'/'+threads.board.name+'/thread/'+thread.thread.id+'/'">Тред № {{thread.thread.id}}</router-link>
      <post v-for="post in thread.posts" :post="post" :key="post.id"></post>
    </div>
  </div>
</script>

<script type="text/x-template" id="thread-template">
  <div :id="thread.thread.id" class="thread" v-if="thread != undefined">
    <post v-for="post in thread.posts" :post="post" :key="post.id"></post>
    <reply-form :threadId="thread.thread.id" :board="thread.board"></reply-form>
  </div>
</script>

<script type="text/x-template" id="post-template">
  <div :id="post.id" class="post">
    <div v-if="post.title" class="title">Заголовок: {{post.title}}</div>
    <div v-if="post.name" class="name">Имя: {{post.name}}</div>
    <a href="#" @click.stop.prevent>>>{{post.id}}</a>
    <a href="#" @click.stop.prevent="deletePost(post.id)">x</a>
    <span v-for="file in post.files">
      <attachment :file="file"></attachment>
    </span>
    <p v-html="post.message" class="message"></p>
  </div>
</script>

<script type="text/x-template" id="attachment-template">
  <img @click="showAttachment" class="pointer" :src="fileLink"/>
</script>

<script type="text/x-template" id="form-template">
  <form  id="reply-form" method="POST" enctype="multipart/form-data" :action="'/'+board.name+'/'+threadId+'/post/create/'">
    <div v-for="file in uploadedFiles">
      <span>
        <a href="#" @click.stop.prevent="deleteFile(file.id)">x</a>
        <img  :src="'/download/'+file.id+'/?thumb=true'"/>
      </span>
    </div>
    <div  v-if="!create" class="form-group">
      <label for="sage">sage
        <input type="checkbox" v-model="sage" name="sage"/>
      </label>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="title"  :value="title" placeholder="Заголовок"/>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="name" :value="name" placeholder="Имя"/>
    </div>
    <div class="form-group">
      <textarea name="message" class="form-control" v-model="message" placeholder="Сообщение"></textarea>
    </div>
    <input multiple="multiple" accept="file" type="file" @change="upload" id="file"/>
    <div v-show="toManyFiles">Максимальное количество файлов {{board.max_files}}</div>
    <div v-if="needCaptcha">
      <img class="pointer" @click="updateCaptcha" :src="'/'+board.name+'/'+threadId+'/captcha/?rnd='+random" alt="вам не надо вводить капчу"/>
      <div class="form-group">
        <input type="text" class="form-control" name="captcha" id="captcha" placeholder="Капча"/> {{captchaLeft}}
      </div>
    </div>
    <button @click="sendMessage" type="button">
      <span v-if="create">Создать тред</span>
      <span v-else>Ответить</span>
    </button>
    <div v-show="error">{{errorMessage}}</div>
  </form>
</script>
